<div>
  <a href="/api/products">Home</a>
  <h1>Admin Dashboard</h1>
  <form action="/api/users/delete-inactive-users" method="POST">
    <button type="submit">Delete inactive accounts</button>
  </form>
</div>
<hr />
<hr />
<div>
  {{#each users}}
    <div>
      <h2>Email: {{email}}</h2>
      <p>Full name: {{first_name}} {{last_name}}</p>
      <p>Role: {{role}}</p>
      <p>Last seen: {{last_login}}</p>

      <form action="/api/users/update-user-role/{{_id}}" method="GET">
        <button type="submit">Change Role</button>
      </form>
    </div>
    <hr />
  {{/each}}
</div>